%section.section.light-gray-bg.clearfix
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.text-center
          Featured
          %strong Categories
        .separator
        %p.lead.text-center Some of the featured categories products.
  .owl-carousel.carousel-autoplay.pl-10.pr-10.owl-theme{:style => "opacity: 1; display: block;"}
    .listing-item.pl-10.pr-10.mb-20
      -@featured_cat.each do |cat|
        .overlay-container.bordered.overlay-visible
          %img{:alt => cat.name, :src => asset_path(cat.image_url)}
            .overlay-bottom
              .text
                %h3.title= cat.name
                .separator.light
                %p.small.margin-clear
                  %em
                    =cat.description
