.owl-carousel.content-slider-with-controls-autoplay.owl-theme{:style => "opacity: 1; display: block;"}
  .overlay-container.overlay-visible
    %img{:alt => "", :src => asset_path("rice_home_slider.jpg")}
      .overlay-bottom.hidden-xs
        .text
          %h3.title Caption Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum optio odio, recusandae qui minima eveniet cumque praesentium expedita sint accusamus itaque.
      %a.popup-img.overlay-link{:href => "images/portfolio-2.jpg", :title => "image title"}
        %i.icon-plus-1
  .overlay-container.overlay-visible
    %img{:alt => "", :src => asset_path("rice_home_slider_1.jpg")}
      .overlay-bottom.hidden-xs
        .text
          %h3.title Caption Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum optio odio, recusandae qui minima eveniet cumque praesentium expedita sint accusamus itaque.
      %a.popup-img.overlay-link{:href => "images/portfolio-2.jpg", :title => "image title"}
  .owl-controls.clickable
    .owl-pagination
      .owl-page.active
        %span
      .owl-page
        %span
      .owl-page
        %span
