.owl-carousel.content-slider-with-controls-autoplay.owl-theme{:style => "opacity: 1; display: block;"}
  -carousel_items.each do |carosel|
    .overlay-container.overlay-visible
      %img.carousel-home-page{:alt => "", :src => asset_path(carosel.image)}
        .overlay-bottom.hidden-xs
          .text
            %h3.title= carosel.title
            %p= carosel.description
        %a.popup-img.overlay-link{:href => asset_path(carosel.image), :title => carosel.title}
          %i.icon-plus-1
