%section.section.background-img-7.dark-translucent-bg{:style => "background-position: 50% 42%;"}
  .container
    %aside.col-md-3.col-md-offset-1
      -slide_content.each do |car|
        .sidebar
          .feature-box-2.object-non-visible.animated.object-visible.fadeInDownSmall
            %span.icon.without-bg
              =car.icon.html_safe
            .body
              %h4.title= car.title
              %p
                =car.description
              .separator-2
    .col-md-8
      =render 'home/middle_carousel'