%section.section.dark-translucent-bg.pv-40
  .container
    .row.grid-space-10
      .col-md-3.col-sm-6
        .pv-30.ph-20.feature-box.text-center.object-non-visible.animated.object-visible.fadeInDownSmall{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "100"}
          %span.icon.default-bg
            %i.fa.fa-diamond
          %h3 Premium &amp; Guaranteed Quality
          .separator.clearfix
          %p Voluptatem ad provident non repudiandae beatae cupiditate.
          %a.link-dark{:href => "page-services.html"}
            Read More
            %i.pl-5.fa.fa-angle-double-right
      .col-md-3.col-sm-6
        .pv-30.ph-20.feature-box.text-center.object-non-visible.animated.object-visible.fadeInDownSmall{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "150"}
          %span.icon.default-bg
            %i.icon-lock
          %h3 Secure &amp; Safe Payment
          .separator.clearfix
          %p Iure sequi unde hic. Sapiente quaerat sequi inventore.
          %a.link-dark{:href => "page-services.html"}
            Read More
            %i.pl-5.fa.fa-angle-double-right
      .clearfix.visible-sm
      .col-md-3.col-sm-6
        .pv-30.ph-20.feature-box.text-center.object-non-visible.animated.object-visible.fadeInDownSmall{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "200"}
          %span.icon.default-bg
            %i.icon-globe
          %h3.pl-10.pr-10 Free &amp; Fast Shipping
          .separator.clearfix
          %p Inventore dolores aut laboriosam cum consequuntur.
          %a.link-dark{:href => "page-services.html"}
            Read More
            %i.pl-5.fa.fa-angle-double-right
      .col-md-3.col-sm-6
        .pv-30.ph-20.feature-box.text-center.object-non-visible.animated.object-visible.fadeInDownSmall{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "250"}
          %span.icon.default-bg
            %i.icon-thumbs-up
          %h3 24/7 Customer Support
          .separator.clearfix
          %p Inventore dolores aut laboriosam cum consequuntur.
          %a.link-dark{:href => "page-services.html"}
            Read More
            %i.pl-5.fa.fa-angle-double-right
    .row
      .col-md-12
        .call-to-action.text-center
          .row
            .col-md-8.col-md-offset-2
              %h2.title
                %strong Subscribe
                To Our Latest Product Updates
              %p We will keep you posted about latest offers and sales
              .separator
              %form.form-inline.margin-clear
                .form-group.has-feedback
                  %label.sr-only{:for => "subscribe3"} Email address
                  %input#subscribe3.form-control.form-control-lg{:name => "subscribe3", :placeholder => "Enter email", :required => "", :type => "email"}
                    %i.fa.fa-envelope.form-control-feedback
                %button.btn.btn-lg.btn-gray-transparent.btn-animated.margin-clear{:type => "submit"}
                  Submit
                  %i.fa.fa-send