%section.section.light-gray-bg.clearfix
  .container
    .row
      .col-md-8
        %ul.nav.nav-pills{:role => "tablist"}
          -@products.each do |category_title, prods|
            %li
              %a{"data-toggle" => "tab", :href => "#pill-#{format_category_title(category_title)}", :role => "tab", :title => format_category_title(category_title)}
                %i.icon-feather
                = category_title
          %li
            %a{"data-toggle" => "tab", :href => "#pill-3", :role => "tab", :title => "Top Sellers"}
              %i.icon-up-1
              Top Sellers
        .tab-content.clear-style
          -@products.each do |category_title, prods|
            -if category_title == 'rice'
              %div.tab-pane.active{id: "pill-#{format_category_title(category_title)}"}
                =render 'product/prods_tab', prods: prods.take(5), category_title: category_title
            -else
              %div.tab-pane{id: "pill-#{format_category_title(category_title)}"}
                =render 'product/prods_tab', prods: prods.take(5), category_title: category_title
          #pill-3.tab-pane
            -5.times do |i|
              .listing-item.mb-20
                .row.grid-space-0
                  .col-sm-6.col-md-4.col-lg-3
                    .overlay-container
                      %img{:alt => "", :src => asset_path("product_1.jpg")}
                        %a.overlay-link{:href => "shop-product.html"}
                          %i.fa.fa-plus
                        %span.badge 50% OFF
                  .col-sm-6.col-md-8.col-lg-9
                    .body
                      %h3.margin-clear
                        %a{:href => "shop-product.html"} Dolorem quam delectus eos nostrum
                      %p
                        %i.fa.fa-star.text-default
                        %i.fa.fa-star.text-default
                        %i.fa.fa-star.text-default
                        %i.fa.fa-star.text-default
                        %i.fa.fa-star
                        %a.btn-sm-link{:href => "#"}
                          %i.icon-heart.pr-5>
                          Add to Wishlist
                        %a.btn-sm-link{:href => "#"}
                          %i.icon-link.pr-5>
                          View Details
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.
                      .elements-list.clearfix
                        %span.price
                          %del $199.00
                          $100.00
                        %a.pull-right.btn.btn-sm.btn-default-transparent.btn-animated{:href => "#"}
                          Add To Cart
                          %i.fa.fa-shopping-cart
        %nav.text-center
          %ul.pagination
            %li
              %a{"aria-label" => "Previous", :href => "#"}
                %i.fa.fa-angle-left
            %li.active
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
            %li
              %a{"aria-label" => "Next", :href => "#"}
                %i.fa.fa-angle-right
      / pagination end
      / main end
      / sidebar start
      / ================
      %aside.col-md-3.col-md-offset-1
        .sidebar
          .block.clearfix
            %h3.title Best Sellers
            .separator-2
            #carousel-sidebar.carousel.slide{"data-ride" => "carousel"}
              / Indicators
              %ol.carousel-indicators.top
                %li{"data-slide-to" => "0", "data-target" => "#carousel-sidebar"}
                %li.active{"data-slide-to" => "1", "data-target" => "#carousel-sidebar"}
                %li{"data-slide-to" => "2", "data-target" => "#carousel-sidebar"}
              / Wrapper for slides
              .carousel-inner{:role => "listbox"}
                .item
                  .listing-item
                    .overlay-container
                      %img{:alt => "product 1", :src => asset_path("product_1.jpg") }
                        %span.badge 30% OFF
                        %a.overlay-link{:href => "shop-product.html"}
                          %i.fa.fa-link
                    %h3
                      %a{:href => "shop-product.html"} Suscipit consequatur velit
                    %span.price
                      %del $199.00
                      $150.00
                .item.active
                  .listing-item
                    .overlay-container
                      %img{:alt => "product 2", :src => asset_path("product_1.jpg")}
                        %span.badge 20% OFF
                        %a.overlay-link{:href => "shop-product.html"}
                          %i.fa.fa-link
                    %h3
                      %a{:href => "shop-product.html"} Quas inventore modi lorem
                    %span.price
                      %del $199.00
                      $150.00
                .item
                  .listing-item
                    .overlay-container
                      %img{:alt => "product 3", :src => asset_path("product_1.jpg")}
                        %span.badge 40% OFF
                        %a.overlay-link{:href => "shop-product.html"}
                          %i.fa.fa-link
                    %h3
                      %a{:href => "shop-product.html"} Consectetur adipisicing elit
                    %span.price
                      %del $199.00
                      $150.00
          .block.clearfix
            =render 'home/categories'
          .block.clearfix
            %h3.title End of Season Sales
            .separator-2
            %p.margin-clear
              Debitis eaque officia illo impedit ipsa earum
              %a{:href => "#"} cupiditate repellendus
              corrupti nisi nemo, perspiciatis optio harum, hic laudantium nulla maiores rem sit magni neque nihil sequi temporibus. Laboriosam ipsum reiciendis iste, nobis obcaecati, a autem voluptatum odio? Recusandae officiis dicta quod qui eligendi.
          .block.clearfix
            %form{:role => "search"}
              .form-group.has-feedback
                %input.form-control{:placeholder => "Search", :type => "text"}
                  %i.fa.fa-search.form-control-feedback
