%section.section.light-gray-bg.clearfix
  .container
    .row
      .col-md-3.col-sm-6
        .pv-20.ph-20.feature-box.text-center.object-non-visible.animated.object-visible.fadeInDownSmall{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "100"}
          %span.icon.default-bg
            %i.fa.fa-diamond
          %h4 Premium &amp; Guaranteed Quality
      .col-md-3.col-sm-6
        .pv-20.ph-20.feature-box.text-center.object-non-visible.animated.object-visible.fadeInDownSmall{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "150"}
          %span.icon.default-bg
            %i.icon-lock
          %h4 Secure &amp; Safe Payment
      .clearfix.visible-sm
      .col-md-3.col-sm-6
        .pv-20.ph-20.feature-box.text-center.object-non-visible.animated.object-visible.fadeInDownSmall{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "200"}
          %span.icon.default-bg
            %i.icon-globe
          %h4.pl-10.pr-10 Free &amp; Fast Shipping
      .col-md-3.col-sm-6
        .pv-20.ph-20.feature-box.text-center.object-non-visible.animated.object-visible.fadeInDownSmall{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "250"}
          %span.icon.default-bg
            %i.icon-thumbs-up
          %h4 24/7 Customer Support
