.header-top.bg-olive
  .container
    .row
      .col-xs-3.col-sm-6.col-md-9
        .header-top-first.clearfix
          %ul.social-links.circle.small.clearfix.hidden-xs
            %li.twitter
              %a{:href => "http://www.twitter.com", :target => "_blank"}
                %i.fa.fa-twitter
            %li.skype
              %a{:href => "http://www.skype.com", :target => "_blank"}
                %i.fa.fa-skype
            %li.linkedin
              %a{:href => "http://www.linkedin.com", :target => "_blank"}
                %i.fa.fa-linkedin
            %li.googleplus
              %a{:href => "http://plus.google.com", :target => "_blank"}
                %i.fa.fa-google-plus
            %li.youtube
              %a{:href => "http://www.youtube.com", :target => "_blank"}
                %i.fa.fa-youtube-play
            %li.flickr
              %a{:href => "http://www.flickr.com", :target => "_blank"}
                %i.fa.fa-flickr
            %li.facebook
              %a{:href => "http://www.facebook.com", :target => "_blank"}
                %i.fa.fa-facebook
            %li.pinterest
              %a{:href => "http://www.pinterest.com", :target => "_blank"}
                %i.fa.fa-pinterest
          .social-links.hidden-lg.hidden-md.hidden-sm.circle.small
            .btn-group.dropdown
              %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %i.fa.fa-share-alt
              %ul.dropdown-menu.dropdown-animation
                %li.twitter
                  %a{:href => "http://www.twitter.com", :target => "_blank"}
                    %i.fa.fa-twitter
                %li.skype
                  %a{:href => "http://www.skype.com", :target => "_blank"}
                    %i.fa.fa-skype
                %li.linkedin
                  %a{:href => "http://www.linkedin.com", :target => "_blank"}
                    %i.fa.fa-linkedin
                %li.googleplus
                  %a{:href => "http://plus.google.com", :target => "_blank"}
                    %i.fa.fa-google-plus
                %li.youtube
                  %a{:href => "http://www.youtube.com", :target => "_blank"}
                    %i.fa.fa-youtube-play
                %li.flickr
                  %a{:href => "http://www.flickr.com", :target => "_blank"}
                    %i.fa.fa-flickr
                %li.facebook
                  %a{:href => "http://www.facebook.com", :target => "_blank"}
                    %i.fa.fa-facebook
                %li.pinterest
                  %a{:href => "http://www.pinterest.com", :target => "_blank"}
                    %i.fa.fa-pinterest
          %ul.list-inline.hidden-sm.hidden-xs
            %li
              %i.fa.fa-map-marker.pr-5.pl-10>
              VDS Rice and Cereals Store
            %li
              %i.fa.fa-phone.pr-5.pl-10>
              +91 99 628 555 44
            %li
              %i.fa.fa-envelope-o.pr-5.pl-10
              contactus@mail.com
      .col-xs-9.col-sm-6.col-md-3
        #header-top-second.clearfix
          .header-top-dropdown.text-right
            -if session[:user].present?
              .btn-group.dropdown
                %button.btn.dropdown-toggle.btn-default.btn-sm{"data-toggle" => "dropdown", :type => "button"}
                  %i.fa.fa-lock.pr-10
                  My Account
                %ul.dropdown-menu.dropdown-menu-right.bg-white
                  %li
                    %a{:href => profile_path}
                      %i.fa.fa-user.pr-10
                      My Account
                      %span.badge New
                  %li
                    %a{:href => orders_path}
                      %i.fa.fa-user-plus.pr-10
                      My Orders
                      %span.badge Coming Soon

                  %li
                    %a{:href => my_points_path}
                      %i.fa.fa-user.pr-10
                      My Points
                      %span.badge Coming Soon

                  %li
                    %a{:href => my_coupons_path}
                      %i.fa.fa-user.pr-10
                      My Coupons
                      %span.badge Coming Soon

                  %li
                    %a{:href => logout_path}
                      %i.fa.fa-sign-out.pr-10
                      Sign-Out
              -#.btn-group.dropdown
              -#  %button.btn.dropdown-toggle.btn-default.btn-sm{"data-toggle" => "dropdown", :type => "button"}
              -#    %i.fa.fa-lock.pr-10
              -#    =session[:user]['user_name']
              -#  %ul.dropdown-menu.dropdown-menu-right.dropdown-animation
              -#    %li.user-header
              -#      %img.img-circle{:alt => "User Image", :src => asset_path("user2-160x160.jpg")}
              -#        %p
              -#          ="#{session[:user]['first_name']}, #{session[:user]['last_name']}"
              -#    %li.user-footer
              -#      .pull-left
              -#        %a.btn.bg-olive.btn-flat{:href => profile_path} Profile
              -#      .pull-right
              -#        %a.btn.bg-olive.btn-flat{:href => logout_path} Sign out
            -else
              .btn-group
                %a.btn.btn-default.btn-sm{:href => user_register_path}
                  %i.fa.fa-user.pr-10
                  Sign Up
              .btn-group.dropdown
                %button.btn.dropdown-toggle.btn-default.btn-sm{"data-toggle" => "dropdown", :type => "button"}
                  %i.fa.fa-lock.pr-10
                  Login
                %ul.dropdown-menu.dropdown-menu-right.dropdown-animation
                  %li
                    = form_tag :user_login, id: 'registration-form', class: 'form-horizontal' do
                      .form-group.has-feedback
                        %label.control-label Username
                        =text_field_tag :email, params[:email], class: 'required', :placeholder => 'Email', class: 'form-control'
                        %i.fa.fa-user.form-control-feedback
                      .form-group.has-feedback
                        %label.control-label Password
                        =password_field_tag :password, params[:password], class: 'required', :placeholder => 'Password', class: 'form-control'
                        %i.fa.fa-lock.form-control-feedback
                      %button.btn.bg-olive.btn-flat{:type => "submit"} Log In
                      %span.pl-5.pr-5 or
                      =link_to 'Sign Up', registration_path, class: 'btn bg-olive btn-flat'
                      %ul
                        %li
                          %a{:href => "#"} Forgot your password?
