.row.masonry-grid-fitrows.grid-space-10
  -prods.each do |rice|
    %add-cart-prp.margin-clear{:novalidate => "novalidate", :role => "form", id: rice.id}
      .col-md-3.col-sm-6.masonry-grid-item.light-gray-bg.boxed.shadow{:style => "position: absolute; left: 0px; top: 0px;"}
        .listing-item.white-bg.bordered.mb-20
          .overlay-container
            %img{:alt => rice.title, :src => asset_path("products/""#{rice.image}")}
              %a.overlay-link.popup-img-single{:href => shop_products_detail_path(category: rice.sub_category.category_name.downcase, sub_category: rice.sub_category.seo_name, seo_name: rice.seo_name)}
                %i.fa.fa-search-plus
              %span.badge 30% OFF
              .overlay-to-top.links
                %span.small
                  %a.btn-sm-link{:href => shop_products_detail_path(category: rice.sub_category.category_name.downcase, sub_category: rice.sub_category.seo_name, seo_name: rice.seo_name)}
                    %i.icon-link.pr-5>
                    View Details
          .body
            %h4
              %a{:href => shop_products_detail_path(category: rice.sub_category.category_name.downcase, sub_category: rice.sub_category.seo_name, seo_name: rice.seo_name)}
                =rice.title
            .elements-list.clearfix
              %span
                %del
                  %i.fa.fa-rupee
                  =rice.price.to_f
                %span.price
                  %i.fa.fa-rupee
                  = rice.price_actual.to_f
              -if rice.is_fixed_rate
                =select_tag :quantity, options_for_select(number_count), class: 'form-control'
              -else
                =select_tag :quantity, options_for_select(quantity), class: 'form-control'
              .separator-2
              %span
                -if rice.stock
                  =hidden_field_tag :product_id, rice.id
                  %input.pull-left.submit-button.btn.bg-olive{:type => "submit", "data-target" => ".bs-example-modal-sm",
                        :value => "Add to Cart", "data-toggle" => "modal"}
                -else
                  %a.pull-left.btn.bg-gray.disabled{:href => "#"}
                    Out Of Stock

=render 'product/add_cart_modal'