%section.section.white-bg.clearfix
  .container
    .row
      .col-md-8
        -if @products.empty?
          .overlay-container
            %img.resize-coming-soon{:alt => "Coming soon", :src => asset_path("coming-soon.jpg")}
        -else
          =render 'product/inner_products_1'
