.breadcrumb-container
  .container
    %ol.breadcrumb
      %li
        %i.fa.fa-home.pr-10
        %a{:href => root_path} Home
      %li.active
        %a{:href => shop_products_category_path(category: params[:category])}
          =params[:category]

%section.main-container
  .container
    .row
      .main.col-md-8.col-lg-offset-1.col-md-push-4.col-lg-push-3
        %h1.page-title= "All Our #{params[:category].upcase} Varieties"
        .separator-2
        =render 'product/products'
      =render 'featured_products_and_categories'
