.breadcrumb-container
  .container
    %ol.breadcrumb
      %li
        %i.fa.fa-home.pr-10
        %a{:href => root_path} Home
      %li.active Thank You

%section.main-container
  .container
    .row
      .main.col-md-8.col-md-offset-2
        %h1.page-title.text-center
          Thank You
          %i.fa.fa-smile-o.pl-10
        .separator
        %p.lead.text-center Thank you for purchasing in our shop. We will get in touch with you with your orders. Thank you again. Have a pleasant shopping !!
        %p.text-center
          %a.btn.bg-olive.btn-lg{:href => shop_products_path} Continue Shopping!
