.breadcrumb-container
  .container
    %ol.breadcrumb
      %li
        %i.fa.fa-home.pr-10
        %a{:href => root_path } Home
      %li.active Checkout Payment

%section.main-container
  .container
    .row
      =form_tag :update_shop_payment, method: :post, id: 'payment-information' do
        .main.col-md-12
          %h1.page-title Checkout Payment
          .separator-2
          %fieldset
            %legend Payment
            #payment-information.form-horizontal{:role => "form"}
              .space
              .row
                .col-lg-3
                  .radio
                    %label
                      %input#optionsRadios3{:name => "optionsRadios", :type => "radio", :value => "option3", checked: 1}
                        Cash On Delivery
                  .space-bottom
                .col-lg-9
                  %p We can accept cash after delivery
          .text-right
            %a.btn.btn-group.bg-olive.btn-lg{:href => shop_checkout_path}
              %i.icon-left-open-big
              Go Back
            %input.submit-button.margin-clear.bg-olive.btn-lg{:type => "submit", :value => "Review and Complete Your Order"}
            %i.icon-right-open-big
