.breadcrumb-container
  .container
    %ol.breadcrumb
      %li
        %i.fa.fa-home.pr-10
        %a{:href => root_path} Home
      %li.active
        %a{:href => shop_products_category_path(category: params[:category])}
          =params[:category]

%section.main-container
  .row
    .main.col-md-12.col-md-offset-1
      %h1.page-title= "All Our #{params[:category].upcase} Varieties"
      .separator-2
      -if @products.length == 0
        .overlay-container
          %img.resize-coming-soon{:alt => "Coming soon", :src => asset_path("coming-soon.jpg")}
      -else
        %section.section.white-bg.clearfix
          .row
            =render 'product/inner_products_1'
    =#render 'featured_products_and_categories'
