.breadcrumb-container
  .container
    %ol.breadcrumb
      %li
        %i.fa.fa-home.pr-10
        %a{:href => "index.html"} Home
      %li.active Checkout

%section.main-container
  .container
    .row
      .main.col-md-12
        %h1.page-title Checkout
        .separator-2
        %table.table.cart
          %thead
            %tr
              %th Product
              %th Price
              %th Quantity
              %th.amount Total
          %tbody
            -@shop_cart.shopping_cart_products.each do |item|
              %tr
                %td.product
                  %a{:href => "shop-product.html"}
                    =item.product_title
                  %small= item.product_description
                %td.price
                  %span
                    %i.fa.fa-rupee
                    = item.price
                %td.quantity
                  .form-group
                    %input.form-control{:disabled => "", :type => "text", :value => item.quantity}
                %td.amount
                  %span
                    %i.fa.fa-rupee
                    = item.price * item.quantity
            %tr.hide
              %td.total-quantity{:colspan => "3"} Subtotal
              %td.amount
                %span
                  %i.fa.fa-rupee
                  =total_products_price(@shop_cart.shopping_cart_products)
            %tr.hide
              %td.total-quantity{:colspan => "2"} Discount Coupon
              %td.price TheProject25672
              %td.amount -20%
            %tr
              %td.total-quantity{:colspan => "3"} Total 8 Items
              %td.total-amount
                %span
                  %i.fa.fa-rupee
                  =total_products_price(@shop_cart.shopping_cart_products)
        .space-bottom
        =form_tag :update_checkout_cart, method: :post, id: 'billing-information' do
          %fieldset
            %legend Billing information
            #billing-information.form-horizontal{:role => "form"}
              .row
                .col-lg-3
                  %h3.title Personal Info
                .col-lg-8.col-lg-offset-1
                  .form-group
                    %label.col-md-2.control-label{:for => "billingFirstName"}
                      First Name
                      %small.text-default *
                    .col-md-10
                      =text_field_tag :first_name, @shop_cart.first_name, class: 'required', :placeholder => 'First Name', class: 'form-control'
                  .form-group
                    %label.col-md-2.control-label{:for => "billingLastName"}
                      Last Name
                      %small.text-default *
                    .col-md-10.pr-10
                      =text_field_tag :last_name, @shop_cart.last_name, class: 'required', :placeholder => 'Last Name', class: 'form-control'
                  .form-group
                    %label.col-md-2.control-label{:for => "billingTel"}
                      Telephone
                      %small.text-default *
                    .col-md-10.pr-10
                      =text_field_tag :telephone, @shop_cart.telephone, class: 'required', :placeholder => 'Telephone', class: 'form-control'
                  .form-group
                    %label.col-md-2.control-label{:for => "billingemail"}
                      Email
                      %small.text-default *
                    .col-md-10.pr-10
                      =text_field_tag :email, @shop_cart.email, class: 'required', :placeholder => 'Email', class: 'form-control'
              .separator
              .space
              .row
                .col-lg-3
                  %h3.title Your Address
                .col-lg-8.col-lg-offset-1
                  .form-group
                    %label.col-md-2.control-label{:for => "billingAddress1"}
                      Address 1
                      %small.text-default *
                    .col-md-10.pr-10
                      =text_field_tag :address1, @shop_cart.address1, class: 'required', :placeholder => 'Address !', class: 'form-control'
                  .form-group
                    %label.col-md-2.control-label{:for => "billingAddress2"} Address 2
                    .col-md-10.pr-10
                      =text_field_tag :address2, @shop_cart.address2, class: 'required', :placeholder => 'Address 2', class: 'form-control'
                  .form-group
                    %label.col-md-2.control-label
                      Country
                      %small.text-default *
                    .col-md-10.pr-10
                      =select_tag :country, options_for_select(country), class: 'form-control', placeholder: 'Country'
                  .form-group
                    %label.col-md-2.control-label{:for => "billingCity"}
                      City
                      %small.text-default *
                    .col-md-10.pr-10
                      =text_field_tag :city, @shop_cart.city, class: 'required', :placeholder => 'City', class: 'form-control'
                  .form-group
                    %label.col-md-2.control-label{:for => "billingPostalCode"}
                      Zip Code
                      %small.text-default *
                    .col-md-10.pr-10
                      =text_field_tag :zip_code, @shop_cart.zip_code, class: 'required', :placeholder => 'Zip Code', class: 'form-control'
              .space
              .row
                .col-lg-3
                  %h3.title Additional Info
                .col-lg-8.col-lg-offset-1
                  .form-group
                    .col-md-12
                      =text_area_tag :additional_info, @shop_cart.additional_info, rows: 4, class: 'required', :placeholder => 'additional_info', class: 'form-control'
          .text-right
            %a.btn.btn-group.bg-olive{:href => shop_cart_path}
              %i.icon-left-open-big
              Go Back To Cart
            -if @shop_cart.shopping_cart_products.count > 0
              %btn.btn-group.bg-olive
                %input.margin-clear.bg-olive{:type => "submit", :value => "Next Step  "}
                %i.icon-right-open-big
      

