.breadcrumb-container
  .container
    %ol.breadcrumb
      %li
        %i.fa.fa-home.pr-10
        %a{:href => "index.html"} Home
      %li.active Thank You

%section.main-container
  .container
    .row
      .main.col-md-8.col-md-offset-2
        %h1.page-title.text-center
          Thank You
          %i.fa.fa-smile-o.pl-10
        .separator
        %p.lead.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis a deleniti sequi necessitatibus, rem asperiores, magnam labore ullam sint placeat excepturi. Vero corrupti consequuntur id eum esse, rerum, iure neque.
        %p.text-center
          %a.btn.btn-primary.btn-lg{:href => "index-shop.html"} Continue Shopping!
