%section.main-container
  .container
    .row
      / main start
      / ================
      .main.col-md-12
        / page-title start
        / ================
        %h1.page-title Shopping Cart
        .separator-2
        / page-title end
        %table.table.cart.table-hover.table-colored
          %thead
            %tr
              %th Product
              %th Price
              %th Quantity
              %th Remove
              %th.amount Total
          %tbody
            -5.times do |i|
              %tr.remove-data
                %td.product
                  %a{:href => "shop-product.html"} Product Title 1
                  %small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.
                %td.price $99.50
                %td.quantity
                  .form-group
                    %input.form-control{:type => "text", :value => "2"}
                %td.remove
                  %a.btn.btn-remove.btn-sm.btn-primary Remove
                %td.amount $199.00
            %tr
              %td{:colspan => "3"} Discount Coupon
              %td{:colspan => "2"}
                .form-group
                  %input.form-control{:type => "text"}
            %tr
              %td.total-quantity{:colspan => "4"} Total 8 Items
              %td.total-amount $1997.00
        .text-right
          %a.btn.btn-group.btn-primary{:href => shop_cart_path} Update Cart
          %a.btn.btn-group.btn-primary{:href => shop_checkout_path} Checkout
