.pv-40.light-translucent-bg
  .container
    %section.content-header
    %h1
      My Coupons
    %ol.breadcrumb
      %li.active
        %a{:href => "#"}
          %i.fa.fa-dashboard
          My Coupons
  .content
    .row
      .col-md-12
        .box.box-primary
          .box-header.with-border
            %h3.box-title View My Coupons
        .col-md-12
          .box-body
        .col.md.4
        .col-md-8
          = button_tag "Save", class:'btn bg-green btn-sm'
