.pv-40.light-translucent-bg
  .container
    %section.content-header
    %h1
      Information Personalles
    %ol.breadcrumb
      %li
        %a{:href => "#"}
          %i.fa.fa-dashboard
          My Account
      %li
        %a{:href => "#"} Profile
      %li.active Info Perso
  .content
    = form_tag :update_profile, id: 'update-profile', class: 'form-horizontal', remote: true do
      .row
        .col-md-12
          .box.box-primary
            .alert.alert-success.alert-dismissible#user-success-message{"aria-hidden" => "true", :role => "alert", :style => "display: none;"}
              %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
                %span{"aria-hidden" => "true"}
              %strong Success!
              Hurray !! Your Information has been saved.
            .box-header.with-border
              %h3.box-title Update/Edit your Information
            .col-md-6
              .box-body
                .form-group
                  %label.control-label{:for => "nom"} Nom
                  =text_field_tag :first_name, @user.first_name, class: 'form-control', placeholder: 'Enter nom'
                  .form-group
                    %label.control-label{:for => "nom"} Prenom
                    =text_field_tag :last_name, @user.last_name, class: 'form-control', placeholder: 'Enter prenom'
                  .form-group
                    %label.control-label{:for => "nom"} Email
                    .input-group
                      %span.input-group-addon
                        %i.fa.fa-envelope
                      =text_field_tag :email, @user.email, class: 'form-control', placeholder: 'Enter email'
                  .form-group
                    %label.control-label{:for => "nom"} Mot de passe
                    =password_field_tag :password, @user.password, class: 'form-control', placeholder: 'Enter password'
                  .form-group
                    %label.control-label{:for => "nom"} Phone
                    =text_field_tag :phone, @user.phone, class: 'form-control', placeholder: 'Enter Phone'
            .col-md-6
              .box-body
                .form-group
                  %label.control-label{:for => "nom"} Address1
                  =text_field_tag :address_1, @user.address_1, class: 'form-control', placeholder: 'Enter Address 1'
                .form-group
                  %label.control-label{:for => "nom"} Address2
                  =text_field_tag :address_2, @user.address_2, class: 'form-control', placeholder: 'Enter Address2'
                .form-group
                  %label.control-label{:for => "nom"} City
                  =text_field_tag :city, @user.city, class: 'form-control', placeholder: 'Enter City'
                .form-group.hide
                  %label.control-label{:for => "nom"} Region
                  =text_field_tag :region, @user.region, class: 'form-control', placeholder: 'Enter Region'
                .form-group
                  %label.control-label{:for => "nom"} Postal Code
                  =text_field_tag :postal_code, @user.postal_code, class: 'form-control', placeholder: 'Enter Postal Code'
                .form-group
                  %label.control-label{:for => "nom"} Country
                  =text_field_tag :country, @user.country, class: 'form-control', placeholder: 'Enter Country'
      .row
        .col-md-12
          .text-center
            %button.btn.bg-maroon.btn-flat.btn-alert{:type => "submit"}
              Save
              %i.fa.fa-check

