.pv-40.light-translucent-bg
  .container
    .row
      .col-md-8.text-center.col-md-offset-2.pv-20
        .object-non-visible.animated.object-visible.fadeIn{"data-animation-effect" => "fadeIn", "data-effect-delay" => "100"}
          / logo
          #logo.logo.text-center
            %h3.margin-clear
              %a.logo-font.link-light{:href => "index.html"}
                The
                %span.text-default Online Rice Store
          / name-and-slogan
          %p.small Your online rice store
          %h1.page-title.text-center Coming Soon
          .separator
          %p.text-center Under construction
          %ul.list-inline.mb-20.text-center
            %li
              %i.text-default.fa.fa-map-marker.pr-5>
              Online Rice Store, 77000
            %li
              %a.link-dark{:href => "tel:+00 1234567890"}
                %i.text-default.fa.fa-phone.pl-10.pr-5>
                +00 1234567890
            %li
              %a.link-dark{:href => "mailto:info@theproject.com"}
                %i.text-default.fa.fa-envelope-o.pl-10.pr-5>
                contact@ricestore.com
          %ul.social-links.circle.animated-effect-1.text-center
            %li.facebook
              %a{:href => "http://www.facebook.com", :target => "_blank"}
                %i.fa.fa-facebook
            %li.twitter
              %a{:href => "http://www.twitter.com", :target => "_blank"}
                %i.fa.fa-twitter
            %li.googleplus
              %a{:href => "http://plus.google.com", :target => "_blank"}
                %i.fa.fa-google-plus
            %li.linkedin
              %a{:href => "http://www.linkedin.com", :target => "_blank"}
                %i.fa.fa-linkedin
            %li.xing
              %a{:href => "http://www.xing.com", :target => "_blank"}
                %i.fa.fa-xing
    %p.text-center.object-non-visible.animated.object-visible.fadeIn{"data-animation-effect" => "fadeIn", "data-effect-delay" => "100"}
      Copyright © 2015 The Project by
      = succeed "." do
        %a{:href => "http://htmlcoder.me", :target => "_blank"} Online Rice Store
      All Rights Reserved
