#footer
  .subfooter
    .container
      .subfooter-inner
        .row
          .col-md-12
            %p.text-center
              Copyright © 2015 The Project by
              = succeed "." do
                %a{:href => "http://htmlcoder.me", :target => "_blank"} Online Rice Store
              All Rights Reserved