%ul.nav.navbar-nav
  %li.dropdown.mega-menu{:style => ""}
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %i.icon-flask.pr-10>
      Rice
    %ul.dropdown-menu
      %li
        .row
          .col-md-12
            .row
              .col-sm-6.col-md-3.hidden-sm
                %h4.title All our Rice Brands
                %p.mb-10 The list of rice brands available in our shop
                %img{:alt => "Rice Brands", :src => asset_path('rice_main_menu.jpg')}
              .col-sm-6
                %h4.title Rice Brands
                .divider
                %ul.menu
                  %li
                    %a{:href => "components-social-icons.html"}
                      %i.icon-share.pr-10>
                      Raw Rice
                  %li
                    %a{:href => "components-buttons.html"}
                      %i.icon-flask.pr-10>
                      Boiled Rice
                  %li
                    %a{:href => "components-forms.html"}
                      %i.icon-eq.pr-10>
                      Idly Rice
                  %li
                    %a{:href => "components-tabs-and-pills.html"}
                      %i.icon-dot-3.pr-10>
                      Millet
                  %li
                    %a{:href => "components-accordions.html"}
                      %i.icon-menu-outline.pr-10>
                      Steam Rice
                  %li
                    %a{:href => "components-progress-bars.html"}
                      %i.icon-chart-line.pr-10>
                      Red Rice
                  %li
                    %a{:href => "components-call-to-action.html"}
                      %i.icon-chat.pr-10>
                      Dosa Rice
                  %li
                    %a{:href => "components-alerts-and-callouts.html"}
                      %i.icon-info-circled.pr-10>
                      Basmati Rice
                  %li
                    %a{:href => "components-content-sliders.html"}
                      %i.icon-star-filled.pr-10>
                      Kerala Rice New


  %li.dropdown.mega-menu{:style => ""}
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %i.icon-flask.pr-10>
      Cereals
    %ul.dropdown-menu
      %li
        .row
          .col-md-12
            %h4.title Cereals
            .row
              .col-sm-6.col-md-3.hidden-sm
                %h4.title All our Cereals Brands
                %p.mb-10 The list of cereals brands available in our shop
                %img{:alt => "Cereal Brands", :src => asset_path('wheat_main_menu_1.jpg')}
              .col-sm-6
                .divider
                %ul.menu
                  %li
                    %a{:href => "components-social-icons.html"}
                      %i.icon-share.pr-10>
                      Chenna Dal
                  %li
                    %a{:href => "components-buttons.html"}
                      %i.icon-flask.pr-10>
                      Moong Dal
                  %li
                    %a{:href => "components-forms.html"}
                      %i.icon-eq.pr-10>
                      Urad Dhal
                  %li
                    %a{:href => "components-tabs-and-pills.html"}
                      %i.icon-dot-3.pr-10>
                      Toor Dhal New



