%ul.nav.navbar-nav
  %li.dropdown.mega-menu{:style => ""}
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %i.icon-flask.pr-10>
      Rice
    %ul.dropdown-menu
      %li
        .row
          .col-md-12
            %h4.title
              %i.fa.fa-magic.pr-10
              Components
            .row
              .col-sm-4
                .divider
                %ul.menu
                  %li
                    %a{:href => "components-social-icons.html"}
                      %i.icon-share.pr-10>
                      Social Icons
              .col-sm-4
                .divider
                %ul.menu
                  %li.active
                    %a{:href => "components-icon-boxes.html"}
                      %i.icon-picture-outline.pr-10>
                      Icon Boxes
                  %li
                    %a{:href => "components-image-boxes.html"}
                      %i.icon-camera-1.pr-10>
                      Image Boxes

              .col-sm-3
                %h4.title=  "All our  Brands"
                %p.mb-10= "The list ofbrands available in our shop"
                %img{:alt => "Brands", :src => asset_path('rice_main_menu.jpg')}