!!!
%html
  %head
    %title Online Rice Store
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:href => "//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic", :rel => "stylesheet", :type => "text/css"}

    = csrf_meta_tags
  %body.boxed.pattern-4
    .page-wrapper
      =render 'home/top_most_bar'
      =render 'layouts/header'
      = yield
      =render 'layouts/footer'